.height {
  color: #fffff9;
}

.buttons {
  display: flex;
  margin-top: 1rem;
}

button[target="badge"] {
  padding: 8px 15px;
  cursor: pointer;
}

.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  color: #1d252c;
  font-size: 0.7rem;
  background-color: #1261a0;
  border-radius: 1rem;
}
