@import url("https://fonts.googleapis.com/css?family=Poppins:400,500");
* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font: 400 16px/1.5 "Poppins", sans-serif;
  background-color: #025858;
}
