button {
  background-color: transparent;
  border: none;
}

button i {
  font-size: 1rem;
  color: #adc8d8;
  margin-left: 5px;
  margin: 10px 0;
  padding: 11px 1px;
}

button:hover i {
  color: #fffff9;
  transform: scale(1.5);
}
