* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font: 400 16px/1.5 "Poppins", sans-serif;
  background-color: #072f5f;
}
